venv/
.idea/
*.pyc

db.sqlite3
settings/__pycache__/
.env
.pylintrc
.envrc
.coverage

/media/*
!/media/internal/
/logs

data.json
report.xml

celerybeat-*
.vscode/*

static/
redis-data/**

Lib/
Scripts/

pyvenv.cfg
 
celerybeat.pid

*.xlsx